* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: rgb(114, 56, 223);
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  font-size: 24px;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #111;
}

header img {
  height: 6vh;
}

.login {
  display: flex;
  align-items: center;
  height: 6vh;
}

.login button {
  width: 70px;
  height: 4vh;
  border-radius: 5px;
  margin-right: 20px;
}

.login button:hover {
  background-color: rosybrown;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  height: 81vh;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 4vh;
  font-family: "Courier New", Courier, monospace;
}

main h1 {
  margin: 20px 170px;
}

main img {
  margin: 0 auto;
  width: 60vw;
  height: 40vh;
}

main p {
  margin: 10px 150px 30px 170px;
}

main a {
  color: white;
  text-decoration: none;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 30px;
}

main a:hover {
  color: yellow;
}

footer {
  height: 13vh;
  color: black;
  display: flex;
  background-color: yellow;
  flex-direction: row;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 22px;
}

@media only screen and (max-width: 360px) {
  main h1,
  main p {
    margin: 20px;
    background-color: black;
    text-align: justify;
  }

  header {
    flex-direction: column;
    height: 30vh;
    align-items: center;
  }

  header .navbar ul {
    flex-direction: column;
  }

  header .navbar ul li a {
    padding: 5px;
  }

  .login button {
    margin-right: 0;
    width: 70px;
  }

  main {
    height: 135vh;
    font-size: 20px;
  }

  main img {
    margin: 5px;
    width: 100%;
    height: 40vh;
  }

  footer {
    flex-direction: column;
    height: 45vh;
  }
}
