* {
    box-sizing: border-box;
  }
  
  .containerLogin input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .containerLogin label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .containerLogin input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .containerLogin input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .containerLogin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50vw;
    height: 30vh;
  }
  
  .col-26 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-76 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .containerLoginAll {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rosybrown;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-26,
    .col-76,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    };
    .containerLogin {
        background-color: aquamarine;
    }
  }
  